  <nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <!-- Links -->
    <ul class="navbar-nav text-body">
      <li class="nav-item text-body">
        <a class="nav-link text-body" href="#">Sign Up</a>
      </li>
    </ul>
  </nav>